body {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
}
#discover {
  color: white;
  font-weight: 400;
  font-size: 50px;
}
h1 {
  color: white;
  font-weight: 300;
  font-size: 42px;  
}
h4 {
  color: gray;
  font-weight: 300;
  font-size: 21px;
}
a {
  color: aquamarine;
  font-size: 16px;
}
.copyright {
  color: gray;
  font-size: 30px;
  text-align: right;
}
